:root {
    font-size: 16px;
}

@font-face {
    font-family: "teacher jordan";
    src: url("/assets/KGTeacherJordan.ttf");
}

body, html {
    padding: 0;
    margin: 0;
    background-color: #dbdbe8;
}

.titlebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 30px;
}

h1 {
    font-size: 6rem;
    font-family: "teacher jordan";
    margin: 0;
}

h2 {
    font-size: 5rem;
    font-family: "teacher jordan";
    margin: 0;
}


h3 {
    font-size: 4rem;
    font-family: "teacher jordan";
    margin: 0;
}

h4 {
    font-size: 3rem;
    font-family: "teacher jordan";
    margin: 0;
}

h5 {
    font-size: 2rem;
    font-family: "teacher jordan";
    margin: 0;
}

h6 {
    font-size: 1rem;
    font-family: "teacher jordan";
    margin: 0;
}